@font-face {
	font-family: 'FixedsysExcelsior301Regular';
	src: url('../font/fsex300-webfont.eot');
	src: url('../font/fsex300-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../font/fsex300-webfont.woff') format('woff'),
		 url('../font/fsex300-webfont.ttf') format('truetype'),
		 url('../font/fsex300-webfont.svg#FixedsysExcelsior301Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: none;
	-moz-osx-font-smoothing: none;
	font-smooth:never;
}
html, body {
	border:0;
	margin:0;
	padding: 0;
	text-align:center;
	background-image: url('../images/bg0.gif');
	font-family:"FixedsysExcelsior301Regular";
	color:#FFF;
	text-shadow:2px 2px 0px #003;
}
#title {
	margin-top: 24px;
}
#main {
	text-align:initial;
	display:inline-block;
	background-color:#00033E;
	padding:5px;
	box-shadow:0px 0px 5px #00033E;
}
#DCode {
	position: relative;
	width: 600px;
	height: 350px;
	resize:both;
	text-shadow:none;
	font-size:14px;
	margin:8px auto;
}
#help {
	float:right;
	margin-left:10px;
	color:#99F;
	text-decoration:none;
}
#help:hover {
	text-decoration:underline;
}
#lines {
	float:right;
}
#goToFrame, #theme {
	display:inline-block;
}
#frame_input {
	width:120px;
}
#fontsize_selector,
#theme_selector {
	width:100px;
}