input[type=text],
input[type=submit] {
	background: #115;
	background: -moz-linear-gradient(#115, #116);
	background: -webkit-linear-gradient(#115, #116);
	background: -ms-linear-gradient(#115, #116);
	background: -o-linear-gradient(#115, #116);
	background: linear-gradient(#115, #116);
	color: #fff;
	outline: none;
	border:1px solid #303070;
	box-shadow: 0 0 0 1px #4a4aaa, 0 0 0 1px #7171C1 inset;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 0px 10px;
	height: 22px;
}
input[type=text] {
	margin-top:1px;
	height: 21px;
}
input[type=submit] {
	cursor:pointer;
	height: 23px;
}
input[type=submit]::-moz-focus-inner {
	border: 0;
}